- if current_user == nil
  %h1 Users
- else
  %h1
    Welcome, 
    = current_user.name
    !

%h5.search Search for other Users
= form_tag users_path, :method => 'get' do
  = text_field_tag :search, params[:search]
  = submit_tag "Search", :name => nil

%br
%br
%br
    

%table
  %thead.users
    %th.users Name
    %th.users About
    - if current_user != nil
      %th.users Friends?
  %tbody
  - @users.each do |user|
    %tr
      %td= link_to user.name, user
      %td= user.bio
      - if current_user != nil
        - if current_user.friendships.find_by_friend_id(user.id)
          %td Already Friends!
        - elsif user.id != current_user.id
          %td= link_to "Add As Friend!", friendships_path(:friend_id => user), :method => :post