%h1= @user.name
%p= @user.bio

%h3 Add a Weigh-In
= form_for [@user, @weigh_in] do |f|
	= f.text_field :currentweight, :placeholder => 'How Much Do You Weigh Today?'
	= f.text_field :description, :placeholder => 'How did you lose it?'
	= f.label 'Upload a picture at your current weight'
	= f.file_field :weightpic

	= f.submit 'Create Weigh-In', :class => "button"

%h4 Weigh-Ins
%ul 
	- @user.weigh_ins.reverse_each do |user|
		%img{src: user.weightpic}
		%li 
			= user.created_at
		%li
			= user.currentweight
			
		%li
			= user.description
