%h1= @user.name
%p= @user.bio
%img{src: @user.profilepic.url(:medium)}

%h3.weighin Add a Weigh-In
= form_for [@user, @weigh_in] do |f|
	= f.text_field :currentweight, :placeholder => 'How Much Do You Weigh Today?'
	= f.text_field :description, :placeholder => 'How did you lose it?'
	= f.label 'Upload a picture at your current weight'
	= f.file_field :weightpic

	= f.submit 'Create Weigh-In', :class => "button"

%h4.weighin Weigh-Ins
%ul.weighin 
	- @user.weigh_ins.reverse_each do |user|
		- next if user.new_record?
		%h5 
			= "Weigh-in ##{user.id}: #{user.created_at.strftime("%m/%d/%y at %I:%M%P")}"
		- if user.weightpic.blank?
			<no image>
		- else
			%img{src: user.weightpic.url(:medium)}
		%li
			= "Today I weigh: #{user.currentweight} lbs."
		%li
			= "What I did to get to this weight: #{user.description}"
		%li
			%span
			= link_to 'Edit', '#' 
			\|
			%span
			= link_to ' Delete', '#', method: :delete, data: { confirm: 'Are you sure?' }
%br
%br

%h3 Comments:
#comment
/	= render :partial => @weigh_in.comments
= div_for (@comment, class: "comment") do
	%p
		%strong
			Posted #{time_ago_in_words(comment.created_at)} ago
		%br/
		= comment.comment
= form_for [@weigh_in, Comment.new] do |f|
	%pls

		= f.label :body, "New comment"
		%br/
		= f.text_area :body
	%p= f.submit "Add comment"


/ <h2>Comments</h2>
/  <div id="comments">
/          <%= render :partial => @post.comments %>
/  </div>

/  <%= form_for [@post, Comment.new] do |f| %>
/         <p>
/                 <%= f.label :body, "New comment" %><br/>
/                 <%= f.text_area :body %>
/         </p>
/         <p><%= f.submit "Add comment" %></p>
/ <% end %>






